---------------------------public-----------------------
include("config_public")
---------------------------------------------------------

start      = "cluster"

logfile    = "login.log"

debugPort  = 7001

luaservice = luaservice ..
            root .. "src/?.lua;" ..
            root .. "src/service/?.lua;" ..
            root .. "src/service/?/?.lua;"

lua_path = lua_path ..
            root .. "src/?.lua;" ..
            root .. "src/service/?.lua;" ..
            root .. "src/service/?/?.lua;"

snax    = root .. "src/service/?.lua;"

-- cluster 相关
cluster = root .. "config/cluster.config"

-- custom 自定义属性
dirName="area"
clusterNodeName = "areaCluster1"
mapId="1,2,3"