---------------------------public-----------------------
include("config_public")
---------------------------------------------------------

start      = "wsmain"
logfile    = "login.log"
debugPort  = 7001
luaservice = luaservice ..
            root .. "src/?.lua;" ..
            root .. "src/service/?.lua;"
lua_path = lua_path ..
            root .. "src/service/?.lua;" ..
            root .. "src/service/?/?.lua;"

snax    = root .. "src/service/?.lua;"


-- cluster 相关
cluster = root .. "config/cluster.config"
clusterNodeName = "wsCluster1"
dirName="ws"
